{
	email contact@creative-rift.com
}

{$SITE_DOMAIN:localhost} {
	route /ci_deploy* {
		reverse_proxy {$SITE_ADDRESS:localhost}:4567
	}

	route /api/* {
		reverse_proxy api:4000
	}

	route /* {
		reverse_proxy web:3000
	}
}
